form {
    background-color: white;
}

.comContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
}

.comUsername {
    font-size: 0.9rem;
    font-weight: 600;
    margin: -10px 10px 20px 10px;
}

.comText {
    font-size: 0.9rem;
    margin-top: -15px;
}

.time {
    font-size: 0.7rem;
    color: gray;
    background-color: white;
    margin: 0 auto;
}