.postContainer {
    border: 1px solid #e1e1e1;
    width: 47.4%;
    margin-left: 12%;
    margin-bottom: 3.5%;
}

.postHead {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.profileImg {
    width: 27px;
    border-radius: 50%;
    margin: 15px;
}

.username {
    font-size: 0.9rem;
    font-weight: 600;
}

.postPic {
    width: 100%;
}

.postFooter {
    background-color: white;
}

.commentIcons {
    margin: 8px 0px 8px 12px;
}

.boldLikes {
    font-size: 1.0rem;
    font-weight: 600;
    margin: -10px 10px 0px 10px;
    padding-bottom: 15px;
}